<!-- BEGIN_INCLUDE(cookbook:create) -->
    <cookbook:create config-ref="Cookbook" type="Recipe" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:create) -->
<!-- BEGIN_INCLUDE(cookbook:create-multiple) -->
    <cookbook:create-multiple config-ref="Cookbook" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:create-multiple) -->
<!-- BEGIN_INCLUDE(cookbook:delete) -->
    <cookbook:delete config-ref="Cookbook" id="100"/>
<!-- END_INCLUDE(cookbook:delete) -->
<!-- BEGIN_INCLUDE(cookbook:delete-multiple) -->
    <cookbook:delete config-ref="Cookbook" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:delete-multiple) -->
<!-- BEGIN_INCLUDE(cookbook:describe) -->
    <cookbook:delete config-ref="Cookbook" type="Recipe"/>
<!-- END_INCLUDE(cookbook:describe) -->
<!-- BEGIN_INCLUDE(cookbook:get) -->
    <cookbook:get config-ref="Cookbook" type="Recipe" id="100"/>
<!-- END_INCLUDE(cookbook:get) -->
<!-- BEGIN_INCLUDE(cookbook:get-multiple) -->
    <cookbook:get config-ref="Cookbook" type="Recipe" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:get-multiple) -->
<!-- BEGIN_INCLUDE(cookbook:get-recently-added) -->
    <cookbook:get-recently-added config-ref="Cookbook"/>
<!-- END_INCLUDE(cookbook:get-recently-added) -->
<!-- BEGIN_INCLUDE(cookbook:get-recently-added-source) -->
    <cookbook:get-recently-added-source config-ref="Cookbook"/>
<!-- END_INCLUDE(cookbook:get-recently-added-source) -->
<!-- BEGIN_INCLUDE(cookbook:update) -->
    <cookbook:update config-ref="Cookbook" type="Recipe" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:update) -->
<!-- BEGIN_INCLUDE(cookbook:update-multiple) -->
    <cookbook:update config-ref="Cookbook" type="Recipe" entity-ref="#[payload]"/>
<!-- END_INCLUDE(cookbook:update-multiple) -->
<!-- BEGIN_INCLUDE(cookbook:query) -->
    <cookbook:query config-ref="Cookbook" query="GET ALL FROM INGREDIENT" fetchSize="20"/>
<!-- END_INCLUDE(cookbook:query) -->
